<!DOCTYPE html>
<html>
	<head>
		<title>Vineyard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="/js"></script>
		<link rel="stylesheet" href="/css">
	</head>
	<body>
		<div id="header">
			<h1>Vineyard</h1>
		</div>
		<div id="content">
			<center>

				<video id="video" autoplay loop poster="https://3.bp.blogspot.com/-MCCUr1CekTE/VPz4EEqAA1I/AAAAAAAANeA/anbL5xVJ2q4/s1600/11-03%2B~%2BGIF%2B~%2BPlease%2BWait.gif" src=""></video>

				<br>
				Min views: <input id="min" type="number" value="10000000"><br>
				<em>Default is 10 million</em><br>
				<button onclick="random()">Random</button><br>
			</center>
		</div>
	</body>
</html>