<!DOCTYPE html>
<html>
	<head>
		<title>Vineyard</title>
		<script type="text/javascript" src="/js"></script>
		<link rel="stylesheet" href="/css">
	</head>
	<body>
		<center>
			<h1>Vineyard</h1>
			<video autoplay loop id="video" src=""></video>
			<br>
			Min views: <input id="min" type="number"><br>
			<button onclick="random()">Random</button><br>
		</center>
	</body>
</html>