$vine-green: #55BE96;
$vine-dark: darken($vine-green, 20%);
$background: #F5F5F5;

:root {
	--fa-primary-color: #{$vine-green};
	--fa-secondary-color: #{$vine-green};
	--fa-secondary-opacity: 0.6;
}

body {
	margin: 0;
}

#header {
	height: 64px;
	background-color: $vine-green;

	#title {
		font-family: 'LobsterRegular';
		font-size: 2em;
	}
	@media only screen and (max-width: 768px) {
		text-align: center;
	}
}

#content {
	margin: 0 10vw 0 10vw;
	padding: 16px 0 16px 0;
	background-color: $background;
	@media only screen and (max-width: 768px) {
		margin: 0 2vw 0 2vw;
	}
}

#media-player {
	width: 400px;
	border-bottom: 1px solid silver;

	#video, table {
		width: 100%;
	}

	#video {
		margin-top: 8px;
		outline: none;
	}

	table {
		table-layout: fixed;
		text-align: center;
	}

	#description {
		padding: 0 8px 0 8px;
	}

	@media only screen and (max-width: 768px) {
		width: 95vw;
		max-width: 400px;
	}
}

a {
	color: $vine-green;
	text-decoration: none;
	&:hover {
		color: $vine-dark;
	}
}

#videos {
	display: block;

	video {
		max-width: 180px;
		margin: 8px;
		border: 1px solid grey;
		border-radius: 3px;
	}
}

#tagger {
	border-bottom: 1px solid silver;

	strong {
		font-size: 1.25em;
	}
}